@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/pt-sans_regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans_bold.woff2") format("woff2");
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.img {
    min-width: 100%;
    height: auto;
}

/* pages */

.page {
    height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    
    color: #333333;
    background-color: #F2F2F2;
}

.page-body {
    display: flex;
    flex-direction: column;
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
  
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

/* main */

.main-image {
    min-height: 485px;

    background-color: #83b3d3;
    background-repeat: no-repeat;
    background-position:
      50% calc(50% - 16px),
      50% 100%,
      50% 50%;
    background-size:
      auto auto,
      100% auto,
      cover;
    background-image:
      url("/images/welcome\(1\).svg"),
      url("/images/Vector\(1\).svg"),
      url("/images/jpg/index-background.jpg");  
}

.main-index {
    width: 1200px;
    margin: 0 auto;
    color: #000000;
}

.main-header {
    padding: 35px 72px 80px;
  
    color: #ffffff;
    background-color: #83B3D3;
    background-image: url("../images/jpg/catalog-background\ 1\(1\).jpg");
    background-size: cover;
  }

.page-main {
    flex-grow: 1;
}

/* Header */

.navigation {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 30px;
    min-height: 65px;
    padding: 0 72px; 
}

.logo {
    position: relative;
    z-index: 1;
    margin-bottom: -10px;
  }

.logo-img {
    display: block;
}

.navigation-list {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    list-style: none; 
}

.navigation-item {
    display: flex;
    align-items: center;
}

.navigation-item-active {
    position: relative;
}

.navigation-item-active::after {
    content: "";
    position: absolute;
    right: 18px;
    left: 18px;
    bottom: 0;
    height: 2px;
    background-color: #756257;
}

.navigation-link {
    display: block;
    padding: 17px;
    color: #000000;
    text-decoration: none;
}

.navigation-link[href]:hover {
    color: #756257;
}

.navigation-link[href]:active {
    color: #756257;
    opacity: 0.3;
}

.navigation-user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    min-width: 321px;
    margin-right: -2px;
}

.navigation-user-button {
    min-width: 160px;
    margin-left: 20px;
}

/* icon button */

.icon-button {
    position: relative;
    display: grid;
    place-content: center;
    width: 42px;
    height: 42px;

    fill: #000000;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.icon-button:hover {
    fill: #756257;
  }
  
  .icon-button:active {
    fill: rgba(117, 98, 87, 0.3);
  }
  
  .icon-button-counter {
    position: absolute;
    top: 3px;
    right: -3px;
  
    min-width: 20px;
    height: 20px;
    padding: 0 4px;
  
    color: #ffffff;
    background-color: #7db54f;
    border-radius: 50%;
  
    line-height: 20px;
    font-size: 10px;
    text-align: center;
  }
  
  .icon-button[href]:active .icon-button-counter {
    color: rgba(255, 255, 255, 0.3);
  }
  

/* buttons */

.button {
    display: inline-block;
    padding: 8px 15px 6px;
  
    color: #ffffff;
    background-color: #83b3d3;
    border: none;
    border-radius: 4px;
  
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;
  }
  
  .button:hover {
    background-color: #68a2ca;
  }
  
  .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #68a2ca;
  }
  
  .button:focus {
    outline: 3px solid #615048;
  }
  
  .button-secondary {
    background-color: #756257;
  }
  
  .button-secondary:hover {
    background-color: #615048;
  }
  
  .button-secondary:active {
    background-color: #615048;
  }
  
  .button-secondary:focus {
    background-color: #615048;
    outline: 3px solid #83b3d3;
  }
  
  .button-large {
    padding: 18px 16px 17px;
    border-radius: 10px;
    font-size: 20px;
  }

.search-button {
    width: 575px;
    margin-top: 50px; 
}

.button-success {
  background-color: #7db54f;
}

.button-success:hover {
  background-color: #6c9e42;
}

.button-success:active {
  background-color: #6c9e42;
}

.button-success:focus:not(:active) {
  background-color: #6c9e42;
}

/* advantages */

.advantages {
    text-align: center;
  }
  
  .advantages-content {
    padding: 62px 240px 87px;
  }
  
  .advantages-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
  
    list-style: none;
  
    counter-reset: advantages;
  }
  
  .advantages-item {
    display: grid;
    gap: 30px;
    min-height: 384px;
  
    background-color: rgba(131, 179, 211, 0.12);
  
    counter-increment: advantages;
  }
  
  .advantages-item-large {
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    padding: 0;
  
    color: #ffffff;
    background-color: #83b3d3;
  }
  
  .advantages-item:not(.advantages-item-large):nth-child(even) {
    background-color: rgba(131, 179, 211, 0.2);
  }
  
  .advantages-description {
    display: grid;
    align-content: start;
    gap: 26px;
    min-height: 384px;
    padding: 60px;
    padding-top: 98px;
  }
  
  .advantages-description::before {
    content: "— №" counter(advantages) " —";
  }
  
  .advantages-list-inner {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
  
    color: #333333;
    background-color: #ffffff;
  
    list-style: none;
  }
  
  .advantages-inner-item {
    display: grid;
    align-content: start;
    gap: 20px;
    min-height: 384px;
    padding: 60px;
    padding-top: 184px;
  
    background-repeat: no-repeat;
    background-size: 76px 76px;
    background-position: 50% 88px;
    background-color: rgba(131, 179, 211, 0.12);
  }
  
  .advantages-inner-item:nth-child(even) {
    background-color: #ffffff;
  }
  
  .advantages-inner-item-house {
    background-image: url("../images/house.svg");
  }
  
  .advantages-inner-item-food {
    background-image: url("../images/burger.svg");
  }
  
  .advantages-inner-item-present {
    background-image: url("../images/present.svg");
  }
  
  .advantages-title {
    margin: 0;
  
    color: #000000;
  
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
  }
  
  .advantages-item-large .advantages-title {
    color: #ffffff;
  }
  
  .advantages-inner-item .advantages-title {
    color: #000000;
  }
  
  .advantages-description .advantages-title {
    order: -1;
  }
  
  .advantages-img {
    grid-column: span 2;
    width: 100%;
    height: 0;
    min-height: 100%;
    object-fit: cover;
  }
  
  .advantages-item-large:nth-child(2) .advantages-img {
    order: -1;
  }
  
  .advantages-text {
    margin: 0;
  
    line-height: 21px;
  }


/* Section */

.section-title {
    margin: 0;
    margin-bottom: 36px;
  
    color: #000000;
  
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
  }
  
  .section-description {
    margin: 0;
  
    font-size: 22px;
    line-height: 26px;
  }

/* search */

.search-hotel {
    padding: 88px 240px 95px;
    text-align: center;
}


/* newsletter */

.newsletter {
    padding: 42px 200px 135px;
  
    text-align: center;
  }

  .newsletter .section-title {
    margin-bottom: 48px;
  }
  
  .newsletter-primary .section-title {
    color: #ffffff;
    margin-bottom: 32px;
  }
  
  .newsletter-primacy {
    padding-top: 92px;
    padding-bottom: 95px;

    color: #ffffff;
    background-color: #83b3d3;
    background-image: url("/images/jpg/background.jpg");
    background-size: cover;
  }
  
  .newsletter-form {
    display: grid;
    grid-template-columns: 1fr 200px;
    margin-top: 46px;
  }

  
  .newsletter-email .field-input {
    border-radius: 10px 0 0 10px;
  }
  
  .newsletter-button {
    border-radius: 0 10px 10px 0;
  }

  /* field */

  .field {
    display: flex;
  }
  
  .field-input {
    width: 100%;
    padding: 8px 20px;
  
    background-color: #f2f2f2;
    border: 2px solid transparent;
    border-radius: 4px;
  
    font-family: inherit;
    font-size: 18px;
  }

  .field-title-info {
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
  }
  
  .field-input:hover {
    background-color: #e6e6e6;
  }
  
  .field-input:focus {
    background-color: #e6e6e6;
    outline: 3px solid #83b3d3;
  }
  
  .field-input-error {
    border-color: #ff5757;
  }

  .field-search {
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-template-rows: 50px;
    column-gap: 15px;
    row-gap: 4px;
  }
  
  .field-search .field-title {
    align-self: center;
  
    font-weight: 700;
  }

  .field-search .field-input {
    font-weight: 700;
  }
  
  .field-message {
    grid-column: 2 / -1;
  
    font-size: 16px;
  }
  
  .field-message-error {
    color: #ff5757;
  }

  .field-info {
    position: relative;
  
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-left: 10px;
  
    background-color: #83b3d3;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../images/info\ 1.svg");
    border-radius: 50%;
  }
  
  .field-info-text {
    position: absolute;
    top: calc(100% + 15px);
    left: calc(50% - 128px);
    z-index: 1;
  
    display: none;
    width: 256px;
    padding: 15px 20px 23px;
  
    color: #ffffff;
    background-color: #333333;
    border-radius: 10px;
  
    font-size: 16px;
    font-weight: 400;
  }
  
  .field-info-text::before {
    content: "";
    position: absolute;
    top: -9px;
    left: calc(50% - 10px);
  
    width: 19px;
    height: 9px;
  
    background-image: url("../images/three.svg");
  }

  .field-info-text::after {
    content: "";
    position: absolute;
    top: -25px;
    right: 0;
    left: 0;
  
    height: 25px;
  }
  
  .field-info:hover .field-info-text {
    display: block;
  }

/* catalog filter */

.inner-header {
    color: #FFFFFF;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin-top: 35px;
    margin-right: 601px;
    margin-left: 71px;

}

/* breadcrumbs */

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-bottom: 45px;
    margin-left: -8px;
    padding: 0;
  
    font-size: 16px;
    line-height: 21px;
    list-style: none;
  }
  

.breadcrumbs-link {
    display: flex;
    padding: 3px 8px;
    border-radius: 4px;
}

.breadcrumbs-link[href]:hover {
  opacity: 0.6;
}

.breadcrumbs-link[href]:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
    outline: 3px solid #83b3d3;
    outline-offset: -3px;
}

.breadcrumbs-link-home {
  width: 28px;
  height: 27px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("/images/house_breac.svg");
}

.breadcrumbs-item + .breadcrumbs-item {
  position: relative;
  margin-left: 10px;  
}

.breadcrumbs-item + .breadcrumbs-item::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: -7px;

  width: 5px;
  height: 8px;
  background-image: url("/images/from_house.svg");
  opacity: 0.3;
}

/* catalog-filter */

.catalog-filter {
    display: grid;
    grid-template-columns: 200px 200px 1fr 224px;
    justify-content: space-between;
    gap: 17px;
}

.catalog-filter-group {
    margin: 0;
    padding: 0;

    border: none;
}

.catalog-filter-price {
    margin-left: 94px;
}

.catalog-filter-list {
    margin: 0;
    margin-top: 30px;
    padding: 0;

    list-style: none;
}

.catalog-filter-title {
    margin: 0;
    padding: 0;

    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.catalog-filter-item + .catalog-filter-item {
  margin-top: 11px;
}



/* infrastructure */

.infrastructure {
  position: relative;
}

.infrastructure-input {
  position: absolute;
  opacity: 0;
}

.infrastructure-label {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 19px;
  line-height: 24px;
}

.infrastructure-label::before,
.infrastructure-label::after {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 20px;
  margin-top: 2px;

  content: "";
}

.infrastructure-label::before {
    background-color: #ffffff;
    border-radius: 4px;
}

.infrastructure-label::after {
  display: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../images/Vector-galk.svg");
}

.infrastructure-input[type="checkbox"]:hover + .infrastructure-label::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.infrastructure-input[type="checkbox"]:active + .infrastructure-label::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.infrastructure-input:focus + .infrastructure-label::before {
  outline: 3px solid #83b3d3;
}

.infrastructure-input:checked + .infrastructure-label::after {
  display: block;
}

.infrastructure-input[type="radio"] + .infrastructure-label::before {
  border-radius: 50%;
}

.infrastructure-input[type="radio"] + .infrastructure-label::after {
    background-color: #3f5e72;
    background-image: none;
    background-clip: content-box;
    border: 5px solid transparent;
    border-radius: 50%;
}

/* hotel */

.hotel-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    row-gap: 10px;
    column-gap: 18px;
    padding-bottom: 34px;
}

.card {
  position: relative;
  z-index: 0;

  display: grid;
  align-content: start;
  grid-template-columns: 1fr 26px 140px;
  grid-template-rows: 206px;
  grid-template-areas: 
    "image image image"
    "title title title"
    "description description description"
    "button-more . button-chosen"
    "stars rate rate";

    row-gap: 16px;
    padding: 20px;
}

.hotel-card-link {
  grid-area: title;
  color: #000000;
  text-decoration: none;
}

.hotel-card-link:focus {
  outline: none;
}

.hotel-card-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 160px;
  left: 0;
  z-index: 1;
}

.hotel-card-title {
  grid-area: title;
  margin: 0;
  font-style: 24px;
  line-height: 31px;
}

.hotel-card-image {
  order: -1;
  width: 100%;
  height: 100%;
  grid-area: image;

  object-fit: cover;
}

.hotel-card-link:hover + .hotel-card-image {
  opacity: 0.6;
}

.hotel-card-link:active + .hotel-card-image {
  opacity: 0.3;
}

.hotel-card-link:focus:not(:active) + .hotel-card-image {
  outline: 3px solid #83b3d3;
}

.card-description {
  grid-column: description;
  display: grid;
  grid-template-columns: 1fr 140px;
  column-gap: 26px;
  margin: 0;

  line-height: 23px;
}

.hotel-card-more {
  grid-area: button-more;
}

.hotel-card-chosen {
  grid-area: button-chosen;
}

.card-rate {
  grid-area: rate;
  justify-self: end;
  min-width: 160px;
  margin: 0;
  padding: 7px 8px 6px;

  background-color: #f2f2f2;
  border-radius: 4px;

  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  line-height: 24px;
}

.card-star {
  grid-area: stars;
  align-self: start;
}


/* star */

.star {
  width: 23px;
  margin: 0;
  min-height: 37px;

  background-repeat: repeat-x;
  background-position: 0 50%;
  background-size: 23px 17px;
  background-image: url("../images/star.svg");
}

.star-two {
  width: 46px;

}

.star-three {
  width: 69px;
}

.star-four {
  width: 92px;
}

.star-five {
  width: 115px;
}

/* filter */

.filter-button {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 64px;
}

.filter-submit {
  min-height: 48px;
  margin-bottom: 16px;
}

.filter-submit:not(:active):focus {
  outline-color: #ffffff;
}

.button-reset {
  align-self: center;
  padding: 3px 14px;
  color: #ffffff;
  background-color: transparent;

  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-size: 18px;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:focus {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}



/* range */ 

.range {
  margin-top: 35px;
}

.range-fields {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
}

.range-fields::before {
  content: "";
  position: relative;
  z-index: 1;

  width: 2px;

  background-color: #ffffff;
}

.range-fields:hover::before {
  opacity: 0.6;
}

.range-fields:focus-within::before {
  opacity: 1;
}

.range-field {
  display: grid;
  grid-template-columns: 1fr 44px;
}

.range-field:first-child {
  order: -1;
}

.range-input {
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  height: 48px;
  padding: 10px 18px;
  padding-right: 50px;

  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 4px;

  font-family: inherit;
  font-size: 18px;

  appearance: textfield;
}

.range-input::-webkit-inner-spin-button,
.range-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range-field:first-child .range-input {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.range-field:nth-child(2) .range-input {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.range-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.range-input:focus {
  outline: 3px solid #83b3d3;
  border-color: #ffffff;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.range-input:not(:placeholder-shown):focus {
  background-color: #756257;
  border-color: #ffffff;
  box-shadow: none;
  outline: none;
}

.range-title {
  grid-column: -2 / -1;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
  margin-top: -2px;

  opacity: 0.3;

  line-height: 18px;
}

.range-field:nth-child(2) .range-title {
  margin-right: 6px;
}

.range-slider {
  margin-top: 28px;
}

/* Slider */

.slider {
  height: 4px;

  background-color: rgba(255, 255, 255, 0.3);
}

.slider-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  background-color: #ffffff;
}

.slider-toggle {
  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border: none;
  border-radius: 5px;
}

.slider-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.slider-toggle:focus {
  outline: 3px solid #83b3d3;
}

.slider-toggle:active {
  outline-width: 2px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

/* sort */

.sorting-right {
  padding: 0 72px;
}

.sorting {
  display: grid;
  grid-template-columns: 1fr 287px max-content;
  align-items: center;
  gap: 80px;
  padding: 44px 0 53px;
}

.sorting-title {
  margin: 0;
}

/* select */

.select {
  position: relative;
  z-index: 1;
}

.select-button {
  display: grid;
  grid-template-columns: 1fr 50px;
  padding: 10px 18px;
  padding-right: 0;

  color: #333333;
  border: 2px solid #e6e6e6;
  border-radius: 4px;

  font-size: 18px;

  cursor: default;
  user-select: none;
}

.select-button::-webkit-details-marker {
  display: none;
}

.select-button::after {
  content: "";

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../images/str\(1\).svg");
}

.select-button:hover:not(:active) {
  border-color: #83b3d3;
}

.select-button:active {
  color: rgba(51, 51, 51, 0.3);
}

.select-button:focus:not(:active) {
  outline: none;
  border-color: #83b3d3;
}

.select-button:active::after {
  opacity: 0.3;
}

.select[open] .select-button::after {
  transform: rotate(180deg);
}

.select-menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;

  margin: 0;
  padding: 10px 0;

  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  list-style: none;
}

.select-item-active {
  background-color: #e6e6e6;
}

.select-option {
  display: block;
  padding: 8px 20px;

  color: #333333;

  text-decoration: none;
}

.select-option:hover {
  background-color: #f2f2f2;
}

.select-item-active .select-option:hover {
  background-color: transparent;
}

.select-option:active {
  color: rgba(51, 51, 51, 0.3);
  background-color: #f2f2f2;
}

.select-label {
  margin: 0;
  margin-right: 50px;
}


/* light */

.light {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  min-width: 225px;
  margin: -4px;
  padding: 0;
  list-style: none;
}

.light-item {
  margin: 4px;
}

.light-link {
  display: block;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.light-link-list {
  background-image: url("../images/list.svg");
}

.light-link-sliders {
  background-image: url("../images/slideshow.svg");
}

.light-link-cards {
  background-image: url("../images/tile.svg");
}

.ligth-link[href]:hover {
  border-color: #83b3d3;
}

.light-link[href]:active {
  border-color: #000000;
}

.light-link:focus {
  outline: none;
  border-color: #83b3d3;
}

.light-item-active .light-link {
  border-color: #000000;
}




/* pagination */

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;

  border-top: 1px solid #e6e6e6;
  }

.pagination-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding-top: 30px;

  border-top: 1px solid #e6e6e6;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-item {
    margin: 0 4px;
}

.pagination-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    padding: 8px;
    min-width: 55px;

    color: #ffffff;
    background-color: #83B3D3;
  
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }
  
  .pagination-select {
    display: flex;
  }

  .pagination-button {
    min-width: 620px;
  
    border-radius: 4px;
  }

  .pagination-link:hover {
    background-color: #68a2ca;
  }
  
  .pagination-link:active {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .pagination-link:focus:not(:active) {
    outline: 3px solid #756257;
    outline-offset: 0;
  }
  
  .pagination-item-active .pagination-link {
    color: #000000;
    background-color: #f2f2f2;
  }
  
  .pagination-select {
    display: flex;
    align-items: center;
  }
  
  .pagination-select .select {
    min-width: 160px;
  }

/* footer */

.page-footer {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    gap: 30px;
    padding: 27px 62px 20px;
}

.social-list {
    align-self: start;
    margin-top: 8px;
}

.footer-logo {
    display: block;
    margin-right: -12px;
    padding: 16px 22px;
    justify-self: end;
    border-radius: 10px;
}

.footer-logo:hover {
    fill: #756257;
}

.footer-logo:active {
    fill: #756257;
    opacity: 0.3;
}

.footer-logo:focus {
    fill: #756257;
}

.footer-logo-img {
   display: block; 
}

.contacts-phone {
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
    border-radius: 10px;
    padding: 15px;
}

.contacts-phone:hover {
    color:#756257;
}

.contacts-phone:active {
    opacity: 0.3;
}

.contacts-phone:focus {
    outline: 3px solid #83b3d3;
    outline-offset: -3px; 
}

.social {
    display: flex;
    flex-wrap: wrap;
    margin-right: -2px;
    margin-left: -2px;
    padding: 0;
  
    list-style: none;
  }
  
  .social-item {
    margin: 2px;
  }
  
  .social-link {
    display: grid;
    place-content: center;
    width: 40px;
    height: 40px;
  
    border-radius: 10px;
  
    fill: #83b3d3;
  }
  
  .social-link:hover {
    fill: #68a2ca;
  }
  
  .social-link:active {
    opacity: 0.3;
  }
  
  .social-link:focus {
    outline: 3px solid #83b3d3;
    outline-offset: -3px;
  }

  /* modal window */
  
.modal-container-opened {
  display: grid;
  grid-template-columns: 1fr min-content;
  row-gap: 54px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #FFFFFF;

  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-auth {
  width: 715px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 35px;
  right: 40px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/close\(1\).svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  align-self: center;
  margin: 0;
  margin-bottom: 68px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

.modal-close-button::after {
  content: "";
  display: block;
  width: 53px;
  height: 53px;
}

.modal-close-button:hover,
.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-close-button:active::after {
  opacity: 0.3;
}

.modal-close-button:focus:not(:active) {
  outline: 3px solid #83b3d3;
  outline-offset: 0;
}

.modal-content {
  grid-column: 1 / -1;
}

/* Search form */
  
.search-form {
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: 50px 50px 50px 60px;

  row-gap: 40px;
}

.search-form-date {
  grid-column: 1 / -1;
}

.search-form-date .field-input {
  background-repeat: no-repeat;
  background-position: right 17px top 50%;
  background-image: url("../images/Group.svg");
}

.search-form-date .field-input:not(:placeholder-shown):focus {
  outline: none;
  background-color: #ffffff;
  border: 2px solid #000000;
}

.search-form-button {
  grid-column: 1 / -1;
}

/* Number */
  
.number {
  position: relative;
  z-index: 0;

  display: grid;
  grid-template-columns: 50px 1fr 50px;
  min-width: 133px;
}

.number-input {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  padding: 0 50px;

  text-align: center;

  appearance: textfield;
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-button {
  position: relative;
  z-index: 1;

  grid-row: 1 / 2;
  display: grid;
  place-content: center;

  background-color: transparent;
  border: none;
}

.number-button::after {
  content: "";
  width: 25px;
  height: 25px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
  opacity: 0.3;
}

.number-button:hover::after {
  opacity: 1;
}

.number-button:active::after {
  opacity: 0.2;
}

.number-button:focus {
  outline: none;
}

.number-button:focus:not(:active)::after {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  opacity: 1;
}

.number-button-minus {
  grid-column: 1 / 2;
}

.number-button-minus::after {
  background-image: url("../images/minus.svg");
}

.number-button-plus {
  grid-column: -2 / -1;
}

.number-button-plus::after {
  background-image: url("../images/plus.svg");
}