@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/pt-sans_regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans_bold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/pt-sans_italic.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/pt-sans_bold-italic.woff2") format("woff2");
    font-display: swap;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000; 
    background: #FFFFFF; 
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  

/* buttons */

.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #756257;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-button {
    margin-right: 70px;
} 

.select-button {
    margin-top: 44px;
}

.button-hotel {
    display: flex;
    justify-content: space-between;
}

.hotel-card-button {
    width: 132px;
}

.button-hotel {
    display: flex;
    justify-content: space-between;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    width: 160px;
    margin-left: 64px;
}

.button-blue {
    width: 140px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color:#FFFFFF;
    background-color: #83B3D3;
}

.button-large {
    width: 620px;
    margin: 30px 290px;

}


/* navigation */

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.navigation-link {
    display: block;
    flex-wrap: wrap;
    padding: 20px 16px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #E5E5E5;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-list {
    display: flex;
    margin-left: 30px;
    padding: 0;
    width: 360;
    list-style-type: none;
}

.navigation-user {
    width: 270px;
    margin-left: 282px;
}

.navigation-user .navigation-link {
    min-width: 16px;
    min-height: 22px;
}

.navigation-logo {
    margin-left: 70px;
}

/* pages */

.page-header {
    width: 1200px;
    margin: 0 auto;
    color: #000000;
    background-color: #E5E5E5;
}

.description {
    margin: 0;
    padding: 0;
}

.main-index {
    width: 1200px;
    margin: 0 auto;
    color: #000000;
}

.main-header {
    padding: 35px 72px 80px;
  
    color: #ffffff;
    background-color: #83B3D3;
    background-image: url("../images/jpg/catalog-background\ 1\(1\).jpg");
    background-size: cover;
  }

.page-container {
    width: 1200px;
    margin: 0 auto;   
}
.page-main {
    width: 1200px;
    margin: 0 auto;
}

.catalog {
    width: 1200px;
    margin: 0 auto;
}

/* list */

.description {
    text-align: center;
}


.advantages-title {
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-description {
    margin-bottom: 80px;
}

.advantages-item-list {
    margin: 0;
    padding: 0;
}

.advanteges-image {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    margin: 0;
    padding: 0;
    background-color: #83B3D3;
    color: #FFFFFF;
}

.advantages-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.advantages-item {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.advantages-this {
    margin: 0;
    padding: 0;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-even {
    margin: 0;
    padding: 0;
    background-color: rgba(131, 179, 211, 0.2);
}
/* search */

.search-hotel {
    width: 1200px;;
    background-color:#FFFFFF;
    text-align: center;
}

.newsletter {
    width: 1200px;
    margin: 0 auto;
    background-image: url("/images/jpg/background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
}

.newsletter-catalog {
        background-size: 100% auto;
        background-repeat: no-repeat;
        text-align: center;  
}

/* catalog filter */

.inner-header {
    color: #FFFFFF;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin-top: 35px;
    margin-right: 601px;
    margin-left: 71px;

}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
  
    font-size: 16px;
  }
  

.breadcrumbs-link {
    margin-right: 26px;
    color: inherit;
}

.catalog-filter {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.catalog-filter-group {
    width: 200px;
    margin: 0;
    margin-right: 17px;
    padding: 0;
}

.catalog-filter-price {
    width: 287px;
    margin-left: 95px;
}

.catalog-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.catalog-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    margin-left: 71px;
    margin-top: 40px;
}



/* hotel */

.hotel-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    row-gap: 18px;
    column-gap: 10px;
    margin-bottom: 34px;
    margin-left: 72px;
    margin-right: 72px;
    margin-top: 56px;
}

.hotel-card-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    margin-bottom: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

.hotel-card-button {
    width: 132px;
}

.button-hotel {
    display: flex;
    justify-content: space-between;
}



/* range */ 

.range-input {
    color: #ffffff;
    background-color: transparent;
  
    font-family: inherit;
    font-size: 18px;
  }
  
  .range-title {
    opacity: 0.3;
  }

  .filter-buttons {
    display: flex;
    flex-direction: column;
    width: 160px;
    margin-left: 64px;
  }
  
  .filter-reset {
    align-self: center;
    color: #ffffff;
    background-color: transparent;
    font-family: inherit;
    font-size: 18px;
  }

.button-blue {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color:#FFFFFF;
    background-color: #83B3D3;
}

/* sort */

.sorting {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

/* card */

.card {
    display: flex;
    flex-direction: column;
    padding: 20px; 
}

.card-description {
    display: flex;
    justify-content: space-between;
}

.card-rate {
    display: flex;
    justify-content: flex-end; 
}


/* pagination */

.pagination {
    padding: 30px 0;
  }

.pagination-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-item {
    margin: 0 4px;
}

.pagination-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    padding: 8px;
    min-width: 55px;

    color: #ffffff;
    background-color: #83B3D3;
  
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }
  
  .pagination-select {
    display: flex;
  }

/* footer */

.page-footer {
    width: 1200px;
    margin: 0 auto;
}

.page-footer-container {
    display: flex;
    margin: 0 auto;
}

.footer-social-list {
    display: flex;
    justify-content: space-between;
    width: 110px;
    margin-right: 100px;
    list-style-type: none;
}

.footer-contact {
    margin-top: 40px;
    width: 720px;justify-content: space-between;
    text-align: center;
}

.footer-logo {
    width: 240px;
    margin-top: 46px;
    margin-left: auto;
    text-align: center;
}

.contacts-phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
}
